.img-blur{
    filter: grayscale(100%);
}

.buttonwrapper {
    display: inline-block;
  }
  
  input{
    background-color: transparent;
    border: 2px solid black;
  }
  
  .a-button {
    display: block;
    width: 20%;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}