<!-- <div style="text-align: center">
  <div class="sidenav">
    <div class="row">
      <div class="col-md-12">
        &nbsp;
      </div>
      <div class="col-md-12">
        <img src="../../assets/images/img_avatar.png" width="30%" class="img-round" />
      </div>
      <!-- <div class="col-md-9">
        <img src="../../assets/images/Raymond-logo.png" width="20%" class="img-circle"></img>
      </div> --
      <div class="col-md-12">
        <label class="label-name">{{ userName }}</label>
      </div>
      <div class="col-md-12">
        <label class="label-name">{{ designation }}</label>
      </div>
      <div class="col-md-12">
        &nbsp;
      </div>
      <div class="navbar">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="propertycreation">Property Details</a>
            </li>
            <li>
              <a href="propertyrercfeedback">Property Feedback</a>
            </li>
          </ul>
      </div>
      
    </div>
  </div>
</div> -->
<div>
  <div class="sidenav">
    <div class="row">


  <!-- <div class="col-md-9">
        <img src="../../assets/images/Raymond-logo.png" width="20%" class="img-circle">
      </div> -->

      <div class="col-md-12">
        &nbsp;
      </div>
      <div class="navbar">
        <ul class="nav navbar-nav flatflipbuttons">

          <li>
            <a href="home"><span class="icon-home"></span></a> <b></b>
          </li>
          <li>
            <a href="propertycreation"><span class="icon-file"></span></a>
          </li>
          <li>
            <a href="propertycreation"><span class="icon-paperclip"></span></a>
          </li>
          <li>
            <a href="propertycreation"><span class="icon-comments"></span></a>
          </li>

        </ul>
      </div>

    </div>
  </div>
</div>
