.box_body{
  background-color: #ffffff;
  border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;

}
.Absolute-Center {
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  top: 5%;
}

.Absolute-Center.is-Responsive {
  width: 60%;
  height: 70%;
  min-width: 100px;
  max-width: 400px;
  padding: 30px;
}

body {
      background-color: black;
      height: 100%;
      width:100%;
      top: 40%;
       }
   

