<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-1">
      &nbsp;
    </div>
  </div>
  <div class="row">
      <div class="col-md-7 col-sm-7">
          <span class="header">{{ propertyName }}</span><br>
        <a href="#" target="_blank" alt="Location"><i class="fa fa-map-marker" aria-hidden="true"></i></a>&nbsp;
        <span class="sub-header">{{ propertyDetails }}</span>
      </div>
      
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="row list-deco">
        <div class="col-md-5">
          <img src="../assets/images/no-image-available.png" alt="" width="225px" height="175px">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <b>Site Details</b>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ brandDetails }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ storeType }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ storeFormat }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ builtArea }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ carpetArea }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row title-border">
    <div class="col-md-12 ">
      <div class="row title-deco">
        <div class="col-md-7 ">
          <b>Screening Questionnaries : After Property Visit</b>
        </div>
        <div class="col-md-5" style="text-align: right">
          <b> No of Questions : {{questionsCount}}</b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row" *ngFor="let question of questionnaries">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  {{ question.Questions }}
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-4"
                      *ngFor="let options of question.Answers; let i = index">
                      <div class="row">
                        <div class="col-md-12" *ngIf="i == 0">
                          <button name="btn" [style.background-color]="options.Color" class="form-control" 
                              style="color: #000000; border: #000000 solid 1px; cursor: pointer;" width="100%" 
                              (click)="pointsSystem(options.ID, question.Questions, options.Options, 3, '#33FF33');">
                              {{options.Options}}</button>
                        </div>
                        <div class="col-md-12" *ngIf="i == 1">
                          <button name="btn" [style.background-color]="options.Color" class="form-control" 
                              style="color: #000000; border: #000000 solid 1px; cursor: pointer;" 
                              (click)="pointsSystem(options.ID, question.Questions,options.Options, 2, '#FFCC33');">
                              {{options.Options}}
                          </button>
                        </div>
                        <div class="col-md-12" *ngIf="i == 2">
                          <button name="btn" [style.background-color]="options.Color" class="form-control" 
                              style="color: #000000; border: #000000 solid 1px; cursor: pointer;" 
                              (click)="pointsSystem(options.ID, question.Questions,options.Options, 1, '#ff3232');">
                            {{options.Options}}</button>
                        </div> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  &nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          &nbsp;
        </div>
      </div>
      <div class="row" *ngIf="userName != 'admin'">
        <div class="col-md-12 mb-3">
          <button class="btn btn-primary" (click)="saveScreening2();">Submit Feedback</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>
</div>