<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-1">
      &nbsp;
    </div>
  </div>
  <!-- <div class="row"> 
    <div class="col-md-12 col-sm-1">
      
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-7 col-sm-7">
        <span class="header">{{ propertyName }}</span><br>
      <a href="#" target="_blank" alt="Location"><i class="fa fa-map-marker" aria-hidden="true"></i></a>&nbsp;
      <span class="sub-header">{{ propertyDetails }}</span>
    </div>
    <div class="col-md-3 col-sm-3 mt-2" *ngIf="(userName === 'admin' && screeningdetails != undefined)">
      <div class="row" >
        <div class="col-md-12" style="text-align: left" *ngIf="visitStatus == '1'">
          <button class="btn btn-primary" (click)="visitschedule(1);">Schedule a visit</button>
        </div>
        <div class="col-md-12" style="text-align: left" *ngIf="visitStatus == '2'">
          <button class="btn btn-primary" (click)="visitschedule(2);">Visit Complete. Start Screening 2</button>
        </div>
        <div class="col-md-12" style="text-align: left" *ngIf="visitStatus == '3'">
          <button class="btn btn-primary" (click)="visitschedule(3);">Project Complete</button>
        </div>
      </div>
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="row list-deco">
        <div class="col-md-5">
          <img src="../assets/images/no-image-available.png" alt="" width="225px" height="175px">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <b>Site Details</b>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ brandDetails }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ storeType }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ storeFormat }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ builtArea }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{ carpetArea }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row list-deco">
        <app-location-map></app-location-map>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="screeningdetails.length > 0">
    <div class="col-md-9">
      <div class="row title-border">
        <div class="col-md-12 title-deco">
          Screening - Before Visit
        </div>
        <div class="col-md-12">
          <div class="row" *ngFor="let details of screeningdetails">
            <div class="col-md-12 mt-2">
              <span class="name-span">{{details.Name}} - {{ details.Designation }}</span>
            </div>
            <div class="col-md-12">
              Input : {{ details.Sreening_Answer }}<br>
              Feedback : {{ details.Site_Feedback}}
            </div>
            <div class="col-md-12">
              &nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row title-border" *ngIf="screening2details.length > 0">
    <div class="col-md-12">
      <div class="row ">
        <div class="col-md-12 title-deco">
          <b>Screening 2 Input: After Visit</b>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- <hr /> -->
          &nbsp;
        </div>
      </div>
      <div class="row" *ngIf="keys.length > 0">
        <div class="col-md-12">
          <!-- <div *ngFor="let items of img_list" style="width: 20%; float: left;">
              <img [src] = items width="50" height="50" (mouseenter)="onover(items);">
              
          </div> -->
          <table class="table table-border" *ngIf="keys.length > 0 && screening2details.length > 0">
            <thead>
              <tr>
                <th *ngFor="let keyData of keys">
                  <span *ngIf="keyData != 'ID' && keyData != 'Main_Header_Seq'">{{ keyData }}</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of screening2details">
                <td *ngFor="let keyData of data; let i=index">
                  <span style="font-weight: bold" *ngIf="keyData.key === 'Classification'">{{ keyData.value }}</span>
                  <span *ngIf="keyData.key === 'Questions'">{{ keyData.value }}</span>
                  <p *ngIf="keyData.key != 'ID' && keyData.key != 'Questions' && keyData.key != 'Classification'" 
                  class="rcorners1" 
                  [style.background-color]="[keyData.value]">
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="(userName !== 'admin' && isScreenDone == '0')">
    <div class="col-md-9">
      <div class="row title-border">
        <div class="col-md-12 title-deco">
          Screening - Before Visit
        </div>
        <!-- <div class="col-md-12">
          <b>Screening : {{ designation }}</b>
        </div> -->
        <div class="col-md-12 mt-3">
            Please provide your input based on initial site presentation and other details
        </div>
        <div class="col-md-12">
          <b>{{ selectedOption }}</b>
        </div>
        <div class="col-md-9" *ngFor="let opt of options">
          <button id="feedopt" [style.background-color]="opt.color" class="form-control" 
            style="color: black; font-size: 12px; margin: 2%;" name="feedopt" 
            (click)="select(opt.id);">{{opt.Title}}</button>
        </div>
        <div class="col-md-8">
          <b>Feedback</b> : <textarea name="feedback" id="feedback" cols="80" rows="3" 
          [(ngModel)]="feedback"></textarea>
        </div>
        <div class="col-md-12 mb-2">
          <button class="btn btn-primary" (click)="save();">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>